
*{
    box-sizing: border-box;
    
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.add{
    width: 250px;
}
.input1{
    height: 30px ;
    
    width: 250px;
}
.qty{
    width: 120px;
    text-align: end;
   
    border:1px solid #dee2e6;
}
.dlt{
    height: 20px;
    
}
.clr{
    background: #EEEEEE;
}

